# Backend runtime env for production containers
# Copy to backend/.env.prod and fill real secret values.

DATABASE_USER=postgres
DATABASE_PASS=malezin_master_rad_db
DATABASE_ADDRESS=db
DATABASE_PORT=5432
DATABASE_NAME=geo_serbia

SECRET_KEY=malezin_master_rad_kljuc
JWT_ALGORITHM=HS256
